
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="">Resto</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <!-- <a class="nav-link active" aria-current="page" href="#">Home</a> -->
        <a class="nav-link"routerLink="add"> Add Restaurant</a>
        <a class="nav-link" routerLink=""> List Restaurant</a>
        <a class="nav-link" routerLink="login"> Login Restaurant</a>
        <a class="nav-link" routerLink="register"> Register Restaurant</a>
        <!-- <a class="nav-link" routerLink="update"> update Restaurant</a> -->
      </div>
    </div>
  </div>
</nav>

<!-- <h1> Resto App ! </h1>
<ul>
  <li><a routerLink="add"> Add Restaurant</a></li>
  <li><a routerLink="list"> List Restaurant</a></li>
  <li><a routerLink="login"> Login Restaurant</a></li>
  <li><a routerLink="register"> Register Restaurant</a></li>
  <li><a routerLink="update"> update Restaurant</a></li>

</ul> -->
<div class="container">
  <router-outlet></router-outlet>
  <footer> 
    <p style="margin-top: 10px;">
      Register your restaurant with us !
    </p>
  </footer>
</div>
